<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}tareas{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'core:task_list' %}">lista de tareas</a></li>
                {% comment %} <li><a href="{% url 'core:task_update' %}">editar</a></li> {% endcomment %}

            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024. </p>
    </footer>
</body>
</html>