{% extends 'base.html' %}

{% block content %}
<h1>Detalles de la Tarea</h1>
<p><strong>Título:</strong> {{ task.title }}</p>
<p><strong>Estado:</strong> {{ task.estado }}</p>
<p><strong>Día de Inicio:</strong> {{ task.f_inicio|date:"Y-m-d" }}</p>
<p><strong>Día Fin:</strong> {{ task.f_fin|date:"Y-m-d" }}</p>

<a href="{% url 'core:task_update' task.id %}">Editar</a>
<a href="{% url 'core:task_delete' task.id %}">Eliminar</a>
<a href="{% url 'core:task_list' %}">Volver a la lista</a>
{% endblock %}
