{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<h4 class="text-center mb-4">Lista de Tareas</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Título</th>
                <th>Estado</th>
                <th>Día de Inicio</th>
                <th>Día Fin</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.titulo }}</td>
            <td>{{ task.estado }}</td>
            <td>{{ task.f_inicio|date:"Y-m-d" }}</td>
            <td>{{ task.f_fin|date:"Y-m-d" }}</td>
            <td>
                <a class="btn btn-primary"type="submit" value="Submit" href="{% url 'core:task_update' task.id %}" >Editar</a>
                <a class="btn btn-danger" href="{% url 'core:task_delete' task.id %}" >Eliminar</a>
            </td>
        </tr>
        <tr>
            <td colspan="5" class="text-center">
            <form action="{% url 'core:toggle_task' task.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-link" style="text-decoration: none;">
                    {% if task.completed %}
                        ✔ {{ task.title|safe }}
                    {% else %}
                        {{ task.title }}
                    {% endif %}
                </button>
            </form>
        </div>
        {% endfor %}
    </tbody>
</table>
<div class="text-center mb-4">
    <a href="{% url 'core:task_create' %}" class="btn btn-success">Crear nueva tarea</a>
</div>

<div class="text-center pagination mt-4">
    {% if page_obj.has_previous %}
        <a href="?page=1" class="btn btn-outline-primary">&laquo; Primera</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">&lsaquo; Anterior</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <span class="current-page btn btn-primary">{{ num }}</span>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}" class="btn btn-outline-primary">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Siguiente &rsaquo;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">Última &raquo;</a>
    {% endif %}
</div>

{% endblock %}






