{% extends "base.html" %}

{% block headExtra %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


{% endblock  %}

{% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> {% endcomment %}

{% block content  %}

<div class="container mt-5">
    <h4 class="text-center mb-8">Editar Tarea</h4>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
<div style="width: 100%; margin:5px auto;">
    <form method="POST" action="">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-success">guardar</button>
        
    </form> 
</div>



{% endblock content %}
